.LogIn{
  display:block;
  height: 20px;
  background-color: rgb(152, 201, 229);

}
#logintext{
text-align: center;
color: #F8F9F9;
}

#logintext:hover {
  background-color: #F8F9F9;
  color: rgb(152, 201, 229);
}
body {
  background-color: #F9F8F8;
}
/* Navigational design. */
.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}


nav {
  font-family: 'VT323', monospace;
  font-size: 35px;
  color: rgb(152, 201, 229);
  padding-left: 5px;
  padding-top: 5px;
}

ul {
  text-decoration: none;
  display: inline-block;
  padding-left: 50px;
}
li {
  font-size: 20px;
  color: rgb(152, 201, 229);
  font-family: 'Dokdo', cursive;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

li:hover {
  color: #F9F8F8;
  background-color: rgb(152, 201, 229);
  border-radius: 30px;
  width: 90px;
  display: inline-block;
  cursor: pointer;
}

a:link{
  color: rgb(152, 201, 229);
  font-family: 'Dokdo', cursive;
  text-decoration: none;
}

a:visited{
  color: rgb(152, 201, 229);
}
a:hover{
  color: #F9F8F8;
}


 /*Navigational design ends here */
/*Hover Menu Design */
 #hoverMenu{
width: 230px;
height: 230px;
background: radial-gradient(lightblue, white);
position: fixed;
left: 0px;
top: 130px;
border-radius: 60px;
box-shadow: 5px 5px 5px 5px gray;
z-index: 2;
text-align: center;
font-family: 'Dokdo', cursive;
animation: signUp 2s;
animation-fill-mode: forwards;
 }
 #MenuText{
   padding-top: 20px;
   text-align: center;
   color: #113245;
 }
#UserName1{
  text-align: center;
  border: 1px outset blue;
  background-color: #F9F8F8;
}

#PassWord{
  text-align: center;
  border: 1px outset blue;
  background-color: #F9F8F8;
}

#Email{
  text-align: center;
  border: 1px outset blue;
  background-color: #F9F8F8;
}

@keyframes signUp{
  0%{
    opacity: 0.0;
  }
  25%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.5;
  }
  75%{
    opacity: 0.7;
  }
  100%{
    opacity: 0.9;
  }
}
/*Hover Menu Design ends
 /*Container two second starts here */
 .container2 {
   background-color: rgb(152, 201, 229);
   display:block;
   border-radius: 50px 60px 70px;
 }

#Tagline {
  text-align: center;
  font-family: 'VT323', monospace;
  font-size: 40px;
  color: #F9F8F8;
  padding-top: 40px;
}
#Tagline2 {
text-align: center;
font-family: 'VT323', monospace;
font-size: 40px;
color: #F9F8F8;
}

.DisplayContainer {
  display: block;
  padding-top: 25px;
  padding-left: 40px;
  padding-bottom: 20px;
  margin-left: 10%;
  position: relative;
}


/* .PDisplay is inside of .DisplayContainer */
.PDisplay {
  background-color: #F9F8F8;
  width: 200px;
  height: 300px;
  border-radius: 50px;
  display: inline-block;
  border: 3px dashed rgb(81, 128, 155);
}
.PDisplay:hover {
  border-style: solid;
  border-width: 10px;
}
/*Master Container 2 ends here! */


#statement {
  color: rgb(152, 201, 229);
  font-family: 'VT323', monospace;
  font-size: 20px;
  text-align: center;
  display: block;
  animation: statement 4s infinite alternate;
  animation-fill-mode: forwards;
}
@keyframes statement{
0%{
  color: rgba(152, 201, 229, 0.9);
}
15%{
  color: rgba(152, 201, 299, 0.6);
}
25% {
  color: rgba(152, 201, 299, 0.3);
}
40%{
  color: rgba(81, 128, 155, 0.2);
}
60%{
  color: rgba(81, 128, 155, 0.5);
}
80%{
  color: rgba(81, 128, 155, 0.7);
}
100%{
  color: rgba(81, 128, 155, 0.9);
}
}

/*ImAGE FILE CSS */
#img1{
text-align: center;

padding-top: 30%;;
}

#img2{
  text-align: center;
  padding-top: 30%;
}

#img3{
  text-align: center;
  padding-top: 30%;
}
#img4{
  text-align: center;
  padding-top: 30%;
}
/*CART DESIGN! */
.cartX{
  color:#113245;
  text-decoration: underline;
}
.Quantity{
  margin-left: 35%;;
}
.addButton{
  border-radius: 50px;
  background-color: rgba(81, 128, 155, 0.9);
  color: #F9F8F8;
  font-family: 'VT323', monospace;
  display: block;
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
  cursor: pointer;
}
/*CART DESIGN ENDS */
/*Master Container3 starts here */
.container3{
  display: block;

}
.info1 {
  width: 900px;
  height: 400px;
  background-color: rgba(81, 128, 155, 0.9);
  border: 20px solid rgb(152, 201, 229);
  padding: 20px;
  padding-top: 60px;
  margin-left: 30px;
  float: left;
  border-radius: 20px;
  animation: expand 4s;
  -webkit-animation-fill-mode: forwards;
  position: relative;
  display: inline-block;
}

@keyframes expand{
 0%{
   width: 0px;
   background-color: rgba(81, 128, 155, 0.9);
   height: 0px;

 }
 25%{
   width: 400px;
   height: 0px;
   background-color: rgba(81, 128, 155, 0.5);
 }
 50%{
   width: 600px;
   height: 0px;
   background-color: rgba(81, 128, 155, 0.3);
 }
 75%{
   width: 900px;
   height: 200px;
   background-color: rgba(81, 128, 155, 0.1);
 }
 100% {
   display: block;
   background-color: rgba(81, 128, 155, 0.0);
   height: 400px;
 }
}

#priceTable {
  height: 270px;
  width: 600px;
  background-color: rgb(152, 201, 229);
  display: inline-block;
  margin-left: 20%;
  font-family: 'Dokdo', cursive;
  animation: tableAppear 6s;
  animation-fill-mode: forwards;
}
/* Table editing follows */
table, tr, td {
  border: 1px solid black;
  padding: 10px;
}
th {
  border: 1px solid black;
}

.staples {
  background-color: #F9F8F8;
  color: red;
}

.amazon {
  background-color: #232f3e;
  color: orange;
}
.munder {
  background-color: #F9F8F8;
  color: rgba(81, 128, 155, 0.9);
}

.munder:hover {
  font-size: 20px;
  cursor: pointer;
}

@keyframes tableAppear{
  0%{
    width: 0px;
    height: 0px;
    opacity: 0.0;
  }
  25%{
    width: 50px;
    height: 25px;
    opacity: 0.0;
  }
  50%{
    width: 200px;
    height: 100px;
    opacity: 0.0;
  }
  75%{
    width: 400px;
    height: 200px;
    opacity: 0.5
  }
  100%{
    width: 600px;
    height: 270px;
    opacity: 0.9;
  }
}
/* HERE STARTS MASTER CONTAINER 4*/
.container4{
display: block;

}
#footerContainer{
  display: block;
  margin-left: 10%;
}
/*Don't forget to add an opacity property to .footerSections*/
.footerSections{
  width: 250px;
  height: 270px;
  font-family: 'VT323', monospace;
  text-align: center;
  display: inline-block;
  background: linear-gradient(rgba(152, 201, 229, 0.5), rgba(81, 128, 155, 0.6));
  border: 1px;
  border-style: inset;
  border-color: navy blue;
  animation: disappear2 7s;
  color: #F8F9F9;
}
#footerContact{
  width: 250px;
  height: 290px;
  font-family: 'VT323', monospace;
  text-align: center;
  display: inline-block;
  background: linear-gradient(rgba(152, 201, 229, 0.5), rgba(81, 128, 155, 0.6));
  border: 1px inset;
  border-color: navy blue;
  animation: disappear2 7s;
  color: #F8F9F9;
}

.CONT4{
  display: inline-block;
  width: 900px;
  padding-left: 20px;
  background:linear-gradient(rgba(152, 201, 229, 0.5), rgba(81, 128, 155, 0.6));
  border: rgb(152, 201, 229);
  float: left;
  margin-left: 20px;
  border-radius: 40px;
  border-width: 12px;
  border-style: solid;
  animation: disappear2 7s;
}
@keyframes disappear2{
  0%{
    opacity: 0.0;
  }
  25%{
    opacity: 0.0;
  }
  50%{
    opacity: 0.0;
  }
  75%{
    opacity: 0.5;
  }
  85%{
    opacity: 0.7;
  }
  100%{
    opacity: 0.9;
  }
}
